// Post SCSS for the theme.

#page,#nav-drawer{
    background-color:#343a40;
   color:#fff;
}

#instance-31-header{
font-size: 40px;
}

#region-main,.card,.list-group ul li a,#course-category-listings.columns-3 {
    background-color:#2a2839 !important;//3f3d56;
    color:#fff;
}
.list-group ul li a:hover{
    background-color:#6a4cff !important;
    color:#fff !important;
}
input,textarea,select,redio,.form-control,.form-control:focus,.custom-select{
    background-color:#363641;
    color:#fff;
}
.nav-item .active{
   background-color:#6a4cff !important;
    color:#fff !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color:#6a4cff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.bg-white {
    background-color: #2a2839 !important;
    color:#fff !important;
}
.bg-gray {
    background-color: #6a4cff !important;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.nav-link .icon{
    color:#fff;
}
.list-group-item {
    
    background-color: #2a2839;
    
}
.list-group-item:hover {
    
    background-color: #6a4cff;
    
}
.list-group-item:hover a {
    color: #fff;
}

.btn-skill{
background-color: hsl(250deg 100% 65%);
float: right;
margin: 20px;
}

.btn:focus, .btn.focus{
border: 2px solid #fff;
}
.custom-select:disabled {
     background-color:#363641;
    color:#fff;
}
.dropdown-menu.show {
    display: block;
    background: #363641;
    color: #fff;
}
.dropdown-menu.show a{
   
    color: #fff;
}

#reportuser div.form-inline{
margin: 10px 0px;
}
.generaltable {
   
    color: #fff;
}
.generaltable tbody tr:hover {
    color: #6a4cff;
}



.toggle-box-region {
     background-color:#2a2839 !important;//3f3d56;
    color:#fff !important;
    border: 1px solid #d9d9d9;
    padding: 16px 18px;
}

.table tr{
    color:#fff;
}
.toggle-box + label {
    color: #fff !important;
    
}

.content-item-container:hover{
    background-color: #443C6D !important; 
}

.view-more{
    color: #4CC4FF !important;
}

.modal-content {
 
    background-color: #2a2839;
  
}
.btn-secondary {
    color: #fff;
    background-color:#6a4cff;
    border-color: #ced4da;
}

div.editor_atto_toolbar {
   
    background: #6a4cff;
  
}

.list-group-item.active {
  
    color: #fff !important;
    background-color: #6a4cff !important;
    border-color: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.select2-container--default .select2-selection--single {
   background-color:#363641 !important;
    color:#fff !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#fff !important;

}
.fa-comment{
display: none !important;
}

#message-drawer-toggle-620779d814270620779d80c6964{
display: none !important;
}

#forgot-password{
    color:#4abef7 !important;
}
.fafa-user{
    display: flex;
align-items: center;
background-color: #363641;
border-radius:5px;
}
.fafa-user input{
    border:none;
   background-color:transparent;
   outline:none;

}
.fafa-user input{
    border:none;
   background-color:transparent;
   outline:none;

}
.fafa-user input:focus{
   box-shadow:none;

}

.fafa-user i{
color: #777780 !important;
margin: 5px;
    
}
#loginbtn{
    border-radius:5px;
}



.vactor_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*fieldset#id_searchbyusername,#id_searchbyemail .ftoggler,.forgot_password2{
    display:none;
}*/


.skill_box2{
    background-color: #363641; 
    border-radius: 2px; 
    padding: 10px; 
    margin-right: 5px;
    width: 70px;
    text-align: center;
    margin-top: 5px;
}


.skill_primary_box2{
    background-color: #6a4cff; 
    border-radius: 2px; 
    padding: 10px; 
    margin-right: 5px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.aalink.focus, .aalink:focus, #page-footer a:not([class]).focus, #page-footer a:not([class]):focus, .arrow_link.focus, .arrow_link:focus, a:not([class]).focus, a:not([class]):focus, .activityinstance > a.focus, .activityinstance > a:focus{
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
    color: #fff;
} 
.clamp-2 {
   
    color: #4abef7 !important;
}
.clamp-2:hover {
   
    color: #fff !important;
}
.modal-title{
    color:#fff ;
}


.searchresultscontainer p{
    color:#fff;
}

[data-fieldtype="modgrade"],.editor_atto_notification .atto_info,.region_main_settings_menu_proxy {
    background-color:#2a2839 !important;
   
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before{
    border-left-color: gray !important;
}


#page-footer{
    background-color: #363641 !important;
}

#page-footer #course-footer, #page-footer .logininfo, #page-footer .tool_usertours-resettourcontainer, #page-footer .homelink,#page-footer .tool_dataprivacy, #page-footer .helplink,#page-footer .sitelink{
    display: none;
}

 .col_3{
        width: 22%;
        margin-right: 20px;
    }

    .mr_30{
     margin-right: 30px;
    }

    .flex_row{
    display: flex;
    flex-wrap: wrap;
    }

  

    .forgot_password2{
        display: none;
    }

    #region-main [role="main"]{
        background-color: #2a2839!important;
        padding: 20px;
    }
#page-wrapper:selector{
    background-color: #2a2839 !important;
}


a.bg-gray:hover, a.bg-gray:focus, button.bg-gray:hover, button.bg-gray:focus{
    background-color: #6a4cff !important;
}

.arrow:focus{
    box-shadow: none !important;

}




::-moz-selection { /* Code for Firefox */
  
  background: #6a4cff !important;
}

::selection {
  
  background: #6a4cff !important;
}

.popover-region-container {
    background-color: #363641;
    border: none;
    padding: 15px 0px;
   
}

.navbar .popover-region-container{
    top: 41px !important;
}

.popover-region-footer-container{
    background-color: transparent;
}

.hover-tooltip-container .hover-tooltip{
    background-color: #6a4cff;
}

.hover-tooltip-container .hover-tooltip:after{
   border-top: 7px solid #6a4cff;
}

.popover-region-toggle::after{
    border-bottom: 9px solid transparent;
}

.message-app{
    background-color: transparent;
    border: 1px solid #fff;
}

.simplesearchform .btn-submit{
    background-color: #6a4cff;
    color: #fff;
}

.bg-light{
  background-color: transparent !important;
}

.message-app .btn.btn-link.btn-icon:hover, .message-app .btn.btn-link.btn-icon:focus{
    background-color: #6a4cff;
}

#page-my-index{
    background-color: transparent;
}

.list-group-item:hover{
    color: #fff;
}

.list-group-item {
    background-color: #2a2839 !important;
}

.text-truncate{
    color: #fff;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #343a40;
}

a:hover{
    text-decoration: none;
}

.site-name:hover{
    colro: #fff;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{
    color: #fff;
}

.my_skill_body{
    border-radius: 4px;
}

#instance-17-header{
    font-size: 2.34375rem;
}
.dropdown-item{
    color: #fff !important;
}
.dropdown-toggle::after{
    font-size: 30px;
    vertical-align: unset !important;
    margin-left: 0px !important;
}

.que .formulation{
    background-color: #343a40;
    boder-radius: 4px !important;
}

.que .info{
    background-color: #343a40;
    boder-radius: 4px !important;
}
.accesshide, .prompt, .r0, .r1, .qtext{
	color: #fff;
}
table.quizreviewsummary th.cell{
	background-color: #6a4cff;
	color: #fff;
}
table.quizreviewsummary td.cell{
	background-color: #343a40;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{
	background:  #343a40;
	color: #fff;
}
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd{
	background:  #343a40;
	color: #fff;
}
.moodle-dialogue-base .closebutton:hover, .moodle-dialogue-base .closebutton:active{
	color: #fff;
}
.moodle-dialogue-base .closebutton::after{
	color: #fff;
}

.generaltable tbody tr:nth-of-type(odd){
	background-color: #363641;
}
.table-hover tbody tr:hover{
	color: #fff;
}

.attendanceregister_sessionlist .attendanceregister_evenrow, .attendanceregister_courselist .attendanceregister_evenrow, .attendanceregister_userlist .attendanceregister_evenrow{
	background-color: transparent;
}
.attendanceregister_buttonbar{
	margin-bottom: 20px;
}

body.path-mod-quiz .gradedattempt, body.path-mod-quiz table tbody tr.gradedattempt>td{
	background-color: transparent !important;
}
.btn-secondary.disabled, .btn-secondary:disabled{
	margin-top: 20px;
	
}

.generaltable {
	border: 1px solid #fff;
}

.mform{
	color: #fff;
}
.form-autocomplete-suggestions{
	background-color: #343a40;
	color: #fff;
}

.form-autocomplete-suggestions li{
	color: #fff;
}
.form-autocomplete-downarrow{
	color: #fff;
}

.close{
	color: #fff;
}
.close:hover{
	color: #fff;
}

#dateselector-calendar-content{
	background: #343a40;
	color: #fff;
}

.yui3-skin-sam .yui3-calendar-day, .yui3-skin-sam .yui3-calendar-prevmonth-day, .yui3-skin-sam .yui3-calendar-nextmonth-day{
	background: #343a40;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth{
	border-right-color: #fff;
}
.yui3-skin-sam .yui3-calendarnav-nextmonth{
	border-left-color: #fff;
}
.yui3-skin-sam .yui3-calendar-day-selected{
	color: #fff;
}
#page-mod-quiz-edit ul.slots li.section .content{
    background-color: #343a40;
    color: #fff;
    border-radius: 4px;
}
.btn-secondary.disabled, .btn-secondary:disabled{
    margin-top: 0px !important;
    margin-right: 8px !important;
}

.shuffle-help-tip [data-content]{
    background-color: #333;
}

.jschooser .choosercontainer #chooseform .instruction, .jschooser .choosercontainer #chooseform .typesummary{
    background-color: transparent;
}
.choosercontainer #chooseform .selected{
    background-color: #6a4cff !important;
}
.typesummary p{
    margin-top: 80px;
}

[data-region="body"]{
    color: #fff;
}
#page-mod-quiz-edit ul.slots li.section li.activity{
    background: #363641 !important;
    
}

.questionname{
    color: #fff !important;
}

.slotnumber{
    background: #6a4cff !important;
}

#page-mod-quiz-edit .section .activity .actions{
    background: transparent !important;
}

#page-mod-quiz-edit ul.slots li.section li.activity .instancemaxmarkcontainer{
    background: transparent !important;
}
pre {
  
  color: #60a6ec !important;
}

.content-item-container.unread {
  margin: 0;
  background-color: #443C6D!important;
}
.content-item-container{
    padding: 20px !important;
}

.popover-region-header-text{
    font-size: 20px !important;
    font-weight: 600;
}
.list-group-item-action {
  width: 100%;
  color: #4abef7;
  text-align: inherit;
}

.eye_icon{
        cursor: pointer;
}

.pagelayout-mydashboard #region-main{
    overflow: hidden;
}
.breadcrumb-item {
    color: #fff;
}

[aria-label="Notification preferences"]{
    color: #4CC4FF;
}

[aria-label="Notification preferences"]:hover{
    color: #4CC4FF;
}
.normal-icon{
    color: #4CC4FF;
}
.btn:not(:disabled):not(.disabled){
    color: #fff;
}


.popover-region-content-container{
    background: #363641;
    border: none !important;
}

.popover-region-header-container{
        background: #363641;
        border: none !important;
        padding: 0px 20px
}

.content-item-container.selected{
    background-color: #443C6D !important;
    border-color: #443C6D !important;
}

[tabindex="0"]:focus-visible {
    outline: none;
}

@media(max-width: 768px){
    #page-header .col-12  .card  .card-body .d-sm-flex .mr-auto .page-context-header{
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #page-header .col-12  .card  .card-body .d-sm-flex .mr-auto .page-context-header .page-header-headings h1{
        margin: 10px;
    }

    .skills_heading{
        font-size: 20px !important;
        padding-top: 10px;
    }

    .space_around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

    .mobile-text-center{
    text-align: left;
    }
     .font-size-08{
     font-size: 8px;
     }
     .skill_box2{
        width: unset;
        justify-content: center;
     }

     .skill_primary_box2{
        width: unset;
     }

     .progress-bar{
        font-size: 8px;
     }

     .align-top{
     display: flex;
     justify-content: flex-end;
     align-items: flex-start;
     }

     .flex-end{
        display: flex;
        justify-content: flex-end;
        align-items: center;
     }

     .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .singlebutton{
     margin: 10px;
     }

     .col_3{
        width: 45%;
        margin-right: 0px;
    }

        .flex-between{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mr_30{
    margin-right: 0px;
    }

.small_font{
display: none;
}

  
}


