// Pre SCSS for the theme.

$card-bg: rgba(255, 255, 255, 0.98);

$primary:#6a4cff;
$navbar-dark-hover-color: #3f3d56;         // rgba($white, 1) !default;
//$navbar-light-color:               // rgba($black, 0.6) !default;
//$navbar-light-hover-color:          //rgba($black, .9) !default;